@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<br />

<p>We at Planet Why take your privacy very seriously.</p>

<p>We want to make sure all the information we have collected about you is safe and secure whether we collect it through our website, through our mobile app, from you via other electronic means (such as email, social media platforms or artificial personel), or in-person at our alien research laboratories.</p>

<p>It is important that you read this privacy policy together with any other privacy policy or fair processing policy we may provide on specific occasions when we are collecting or processing personal data about you so that you are fully aware of how and why we are using your data. This privacy policy supplements other notices and privacy policies and is not intended to override them.</p>



